<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text ">
                        <h3> <span>Your Lifeline </span> <br>
                            in Emergencies</h3>
                        <p>Book an Ambulance Anytime, Anywhere with Real-Time Tracking.</p>
                        <a href="/Call_Ambulance" class="boxed-btn3">Request Ambulance Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>Hospitality</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">Apply For a Bed</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Emergency Care</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">+10 672 356 3567</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Chamber Service</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="assets/img/about/1.png" alt="Image 1">
                      </div>
                      <div class="thumb_2">
                        <img src="assets/img/about/2.png" alt="Image 2">
                      </div>
                      
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to Docmed</h2>
                    <h3>Best Care For Your <br>
                            Good Health</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.
                            It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.</p>
                    <ul>
                        <li> <i class="flaticon-right"></i> Apartments frequently or motionless. </li>
                        <li> <i class="flaticon-right"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                        <li> <i class="flaticon-right"></i> Voluptatem quia voluptas sit aspernatur. </li>
                    </ul>
                    <a href="#" class="boxed-btn3-white-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>